
@import "../node_modules/bootstrap/scss/buttons";

/**
 * Arrows
 *
 * @section
 * @page Buttons
 *
 * @example
 * <div class="mb-2">
 *   <button type="button" class="btn btn-warning btn-arrow-left">
 *     Go Back
 *   </button>
 * </div>
 * <button type="button" class="btn btn-primary btn-arrow-right">
 *   Withdraw Funds
 * </button>
 * <div class="mt-2" style="width: 20rem">
 *   <button type="button" class="btn btn-primary btn-arrow-right btn-block btn-lg">
 *     Withdraw Funds
 *   </button>
 * </div>
 */
@mixin btn-arrow-variant($icon, $direction) {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-between;
  padding-left: $btn-padding-x * 2;
  padding-right: $btn-padding-x * 2;
  @if $direction == 'right' {
    text-align: left;
    @extend .order-0;
  } @else {
    text-align: right;
    @extend .order-1;
  }
  &:before {
    @extend .fas;
    @extend %fa-icon;
    // @extend .align-middle;
    content: fa-content($icon);
    // line-height: 1.5rem;
    @if $direction == 'right' {
      margin-left: $btn-padding-x * 2;
      float: right;
      @extend .order-1;
    } @else {
      margin-right: $btn-padding-x * 2;
      float: left;
      @extend .order-0;
    }
  }
}

.btn-arrow-right {
  @include btn-arrow-variant($fa-var-long-arrow-alt-right, 'right');
}

.btn-arrow-left {
  @include btn-arrow-variant($fa-var-long-arrow-alt-left, 'left');
}

/**
 * Basic
 *
 * @section
 * @page Buttons
 *
 * @example
 * <button type="button" class="btn btn-primary">Primary</button>
 * <button type="button" class="btn btn-secondary">Secondary</button>
 * <button type="button" class="btn btn-success">Success</button>
 * <button type="button" class="btn btn-danger">Danger</button>
 * <button type="button" class="btn btn-warning">Warning</button>
 * <button type="button" class="btn btn-info">Info</button>
 * <button type="button" class="btn btn-light">Light</button>
 * <button type="button" class="btn btn-dark">Dark</button>

 * <button type="button" class="btn btn-link">Link</button>
 */

/**
 * Outline buttons
 *
 * In need of a button, but not the hefty background colors they bring?
 * Replace the default modifier classes with the `.btn-outline-*` ones
 * to remove all background images and colors on any button.
 *
 * @section
 * @page Buttons
 *
 * @example
 * <button type="button" class="btn btn-outline-primary">Primary</button>
 * <button type="button" class="btn btn-outline-secondary">Secondary</button>
 * <button type="button" class="btn btn-outline-success">Success</button>
 * <button type="button" class="btn btn-outline-danger">Danger</button>
 * <button type="button" class="btn btn-outline-warning">Warning</button>
 * <button type="button" class="btn btn-outline-info">Info</button>
 * <button type="button" class="btn btn-outline-light">Light</button>
 * <button type="button" class="btn btn-outline-dark">Dark</button>
 */

/**
 * Sizes
 *
 * Fancy larger or smaller buttons? Add `.btn-lg` or `.btn-sm` for additional sizes.
 *
 * @section
 * @page Buttons
 *
 * @example
 * <button type="button" class="btn btn-primary btn-lg">Large button</button>
 * <button type="button" class="btn btn-secondary btn-lg">Large button</button>
 * <button type="button" class="btn btn-primary btn-sm">Small button</button>
 * <button type="button" class="btn btn-secondary btn-sm">Small button</button>
 */

/**
 * Block Level
 *
 * Create block level buttons—those that span the full width of a parent—by adding `.btn-block`
 *
 * @section
 * @page Buttons
 *
 * @example
 * <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
 * <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
 */


/**
 * Button Link Arrow
 *
 * Create a button with a directional arrow in a box in any theme color you'd like:
 *
 * @section
 * @page Buttons
 *
 * @example
 * <div class="p-2">
 *   <p>
 *     <a href="javascript:;" class="btn btn-link-arrow-left-primary">View Project Details</a>
 *   </p>
 *   <p>
 *     <button href="javascript:;" class="btn btn-link-arrow-right-secondary">View Project Details</button>
 *   </p>
 *   <p>
 *     <a href="javascript:;" class="btn btn-link-arrow-left-warning">View Project Details</a>
 *   </p>
 *   <p>
 *     <button href="javascript:;" class="btn btn-link-arrow-right-grass">View Project Details</button>
 *   </p>
 * </div>
 */

%btn-link-arrow {
  @extend .btn;
  @extend .btn-link;
  @extend .py-0;
  @extend .pl-0;
  @extend .pr-0;
  font-size: 14px;
}

@mixin btn-link-arrow-content($fa-icon) {
  @extend .d-inline-block;
  @extend .text-center;
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-icon);
  line-height: 32px;
  width: 32px;
  height: 32px;
}

%btn-link-arrow-left {
  @extend %btn-link-arrow;
  &:after {
    @include btn-link-arrow-content($fa-var-long-arrow-alt-left);
    @extend .ml-4;
  }
}

%btn-link-arrow-right {
  @extend %btn-link-arrow;
  &:before {
    @include btn-link-arrow-content($fa-var-long-arrow-alt-right);
    @extend .mr-4;
  }
}

@mixin btn-link-arrow-color-variant($color, $arrow-color: 'white') {
  @extend .text-#{$color};
  $arrow-color-value: theme-color($arrow-color);
  &:after {
    color: $arrow-color-value !important;
    @extend .text-#{$arrow-color};
    @extend .bg-#{$color};
  }
  &:before {
    color: $arrow-color-value !important;
    @extend .text-#{$arrow-color};
    @extend .bg-#{$color};
  }
}

@each $color, $value in $theme-colors {
  .btn-link-arrow-right-#{$color} {
    @extend %btn-link-arrow-right;
    @include btn-link-arrow-color-variant($color);
  }
}

@each $color, $value in $theme-colors {
  .btn-link-arrow-left-#{$color} {
    @extend %btn-link-arrow-left;
    @include btn-link-arrow-color-variant($color);
  }
}

/**
 * Button Success
 *
 * Indicate something successful has happened
 *
 * @section
 * @page Buttons
 *
 * @example
 * <div class="p-2">
 *   <button class="btn btn-success-icon">It's done!</button>
 * </div>
 */
$btn-icon-line-height: 1.5rem !default;
.btn-success-icon {
  @extend .btn-success;
  @extend .bg-success;
  @extend .text-white;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  &:before {
    @extend .fas;
    @extend %fa-icon;
    content: fa-content($fa-var-check-circle);
    font-size: $btn-icon-line-height;
    margin-right: $btn-padding-x;
  }
}

/**
 * Button Wrap
 *
 * A highly stylized button that looks like its wrapping its container
 *
 * @page buttons
 * @section
 *
 * @example
 * <main class="p-5">
 *   <div class="card mb-4 shadow">
 *     <div class="card-body">
 *       <button class="btn btn-wrap-left btn-concrete btn-arrow-right">More fun games I know</button>
 *     </div>
 *   </div>
 *   <div class="card mb-4 shadow">
 *     <div class="card-body">
 *       <button class="btn btn-wrap-right btn-success">All completed!</button>
 *     </div>
 *   </div>
 * </main>
 */

@mixin btn-wrap-variant(
  $direction,
  $spacing-x,
  $spacing-md-x,
  $font-size: $font-size-sm,
  $height: $spacer
) {
  @extend .text-uppercase;
  @extend .font-weight-bold;
  padding-left: $btn-padding-x * 2;
  padding-right: $btn-padding-x * 2;
  height: $height;
  font-size: $font-size;
  line-height: $font-size;
  @if $direction == 'left' {
    float: left;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    @include media-breakpoint-down(md) {
      margin-left: 7px;
      padding-left: $spacing-md-x;
      &:after {
        padding-left: $spacing-md-x;
      }
    }
    @include media-breakpoint-up(lg) {
      margin-left: -1 * $spacing-x;
      &:after {
        padding-left: 2 * $spacing-x;
      }
    }
  } @else {
    float: right;
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;

    @include media-breakpoint-down(md) {
      margin-right: 7px;
      padding-right: $spacing-md-x;
      &:after {
        padding-right: $spacing-md-x;
      }
    }
    @include media-breakpoint-up(lg) {
      margin-right: -1 * $spacing-x;
      &:after {
        padding-right: 2 * $spacing-x;
      }
    }
  }
 }

.card {
  .btn-wrap-left {
    @include btn-wrap-variant('left', $card-spacer-x, $card-md-spacer-x);
  }
  .btn-wrap-right {
    @include btn-wrap-variant('right', $card-spacer-x, $card-md-spacer-x);
  }
}

.btn-pill {
  border-top-right-radius: 1000px !important;
  border-bottom-right-radius: 1000px !important;
  border-top-left-radius: 1000px !important;
  border-bottom-left-radius: 1000px !important;
}

// overide calculated btn color via color-yiq() function
.btn-primary {
  color: $white !important;
}

/**
 * Button Inside Alert
 *
 * Buttons can be the same theme color within an alert
 *
 * @page buttons
 * @section
 *
 * @example
 * <div class="alert alert-info mb-4">
 *   <h5 class="alert-heading">Ready for Withdrawl</h5>
 *   <p>You should take the following action:</p>
 *   <button class="btn btn-info">Withdraw Funds</button>
 * </div>
 * <div class="alert alert-success mb-4">
 *   <h5 class="alert-heading">Ready for Withdrawl</h5>
 *   <p>Hey! How do you like this button?</p>
 *   <button class="btn btn-success">Do Something</button>
 * </div>
 * <div class="alert alert-danger mb-4">
 *   <h5 class="alert-heading">Ready for Withdrawl</h5>
 *   <p>This is some other text:</p>
 *   <button class="btn btn-danger">Another Button</button>
 * </div>
 */
@each $color, $value in $theme-colors {
  .alert-#{$color} .btn-#{$color} {
    background-color: rgba($white, 0.16);
  }
}
