
@import "../node_modules/bootstrap/scss/forms";

/**
 * Stacked Form Group
 *
 * @section
 * @page Forms
 *
 * @example
 * <div class="p-4">
 *   <form class="was-validated">
 *     <div class="form-group-stacked valid">
 *       <label for="exampleInputEmail1">Email address</label>
 *       <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
 *       <div class="invalid-feedback">Please enter a valid item</div>
 *     </div>
 *     <div class="form-group-stacked has-error">
 *       <label for="exampleInputPassword1">Password</label>
 *       <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" required />
 *       <div class="invalid-feedback">Please enter a valid item</div>
 *     </div>
 *     <div class="form-check">
 *       <input type="checkbox" class="form-check-input" id="exampleCheck1">
 *       <label class="form-check-label" for="exampleCheck1">Check me out</label>
 *     </div>
 *     <button type="submit" class="btn btn-primary">Submit</button>
 *   </form>
 * </div>
 */
.form-group-stacked {
  @extend .form-group;
  @extend .bg-white;
  @extend .py-0;
  @include transition($input-transition);
  border-style: solid;
  border-color: $input-border-color;
  border-width: $input-border-width;
  border-radius: $input-border-radius;
  line-height: 1em;
  min-height: 60px;

  label {
    @extend .py-0;
    @extend .my-0;
    padding-left: $input-padding-x;
    font-size: $input-font-size-sm;
  }

  .form-control {
    @extend .py-0;
    @extend .my-0;
    @extend .align-top;
    border: none;
    height: 24px;
    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  .form-text {
    padding-left: $input-padding-x;
  }

  .invalid-feedback {
    @extend .py-0;
    @extend .mt-0;
    display: none;
    padding-left: $input-padding-x;
  }

  &.has-error {
    border-color: $danger;
    @include box-shadow($input-box-shadow-error);
    label {
      color: $danger;
    }
    .form-control {
      &::placeholder {
        color: $danger;
      }
    }
    .invalid-feedback {
      color: $danger;
      @extend .d-block;
    }
  }

  &.valid {
    border-color: $success;
    @include box-shadow($input-box-shadow-success);
    label {
      color: $success;
    }
    .form-control {
      &::placeholder {
        color: $success;
      }
    }
    .invalid-feedback {
      display: none;
    }
  }
}

.was-validated {
  .form-control {
    &:valid {
      @extend .text-success;
    }

    &:invalid,
    &.invalid {
      @extend .text-danger;
    }

    &:valid:focus {
      @extend .text-success;
      border: none;
      box-shadow: none;
    }

    &:invalid:focus,
    &.invalid:focus {
      @extend .text-danger;
      border: none;
      box-shadow: none;
    }
  }
}

/**
 * Custom Controls
 *
 * @section
 * @page Forms
 *
 * @example
 * <div class="p-4">
 *   <form>
 *     <div class="custom-control custom-checkbox">
 *       <input type="checkbox" class="custom-control-input" id="customCheck1">
 *       <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
 *     </div>
 *
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
        </div>

        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
        </div>

        <select class="custom-select">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>

        <select class="custom-select custom-select-lg mb-3">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>

        <select class="custom-select custom-select-sm">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
 *   </form>
 * </div>
 */
