@import "../node_modules/bootstrap/scss/nav";

$nav-sm-font-size: 14px !default;
$nav-sm-line-height: 26px !default;
$nav-xs-font-size: 11px !default;
$nav-xs-line-height: 24px !default;
$nav-pills-border-width: 2px;

/**
 * Plain Colored Link
 *
 * Make a nav element appear as text, instead of a link
 *
 * @section
 * @page Nav
 *
 * @example
 * <nav class="nav nav-link-elephant">
 *   <a class="nav-link" href="#">Item One</a>
 *   <a class="nav-link" href="#">Item Two</a>
 *   <a class="nav-link" href="#">Item Three</a>
 * </nav>
 * <nav class="nav nav-link-grape">
 *   <a class="nav-link" href="#">Item One</a>
 *   <a class="nav-link" href="#">Item Two</a>
 *   <a class="nav-link" href="#">Item Three</a>
 * </nav>
 * <nav class="nav nav-link-warning">
 *   <a class="nav-link" href="#">Item One</a>
 *   <a class="nav-link" href="#">Item Two</a>
 *   <a class="nav-link" href="#">Item Three</a>
 * </nav>
 */
@mixin plain-nav-link-variant(
  $color-value,
  $text-decoration: 'none',
  $text-decoration-hover: $link-hover-decoration
) {
  a.nav-link {
    color: $color-value;
    text-decoration: $text-decoration;
    @extend .justify-content-start;
    &:first-child {
      @extend .pl-0;
      @extend .ml-0;
    }

    @include hover() {
      color: darken($color-value, 15%);
      text-decoration: $text-decoration-hover;
    }
  }
}

@each $color, $value in $theme-colors {
  .nav-link-#{$color} {
    @include plain-nav-link-variant($value);
  }
}


/**
 * Sizes
 *
 * Decrease the size of the navigation element
 *
 * @section
 * @page Nav
 *
 * @example
 * <ul class="nav nav-sm">
 *   <li class="nav-item">
 *     <a class="nav-link active" href="#">Microfinance</a>
 *   </li>
 *   <li class="nav-item">
 *     <a class="nav-link" href="#">Other Category</a>
 *   </li>
 *   <li class="nav-item">
 *     <a class="nav-link" href="#">New</a>
 *   </li>
 * </ul>
 * <ul class="nav nav-xs">
 *   <li class="nav-item">
 *     <a class="nav-link active" href="#">Microfinance</a>
 *   </li>
 *   <li class="nav-item">
 *     <a class="nav-link" href="#">Other Category</a>
 *   </li>
 *   <li class="nav-item">
 *     <a class="nav-link" href="#">New</a>
 *   </li>
 * </ul>
 */
.nav-sm {
  font-size: $nav-sm-font-size !important;
  line-height: $nav-sm-line-height !important;
}
.nav-xs {
  font-size: $nav-xs-font-size !important;
  line-height: $nav-xs-line-height !important;
}

/**
 * Pills
 *
 * Blossom-styled version of the pill navigation items
 *
 * @section
 * @page Nav
 *
 * @example
 * <ul class="nav nav-pills nav-sm">
 *   <li class="nav-item">
 *     <a class="nav-link active" href="#">Microfinance</a>
 *   </li>
 *   <li class="nav-item">
 *     <a class="nav-link" href="#">Other Category</a>
 *   </li>
 *   <li class="nav-item">
 *     <a class="nav-link" href="#">New</a>
 *   </li>
 * </ul>
 */
.nav-pills {
  .nav-item {
    border: $nav-pills-border-width solid $primary;
    border-radius: $nav-pills-border-radius;
    @extend .mx-2;
    &:hover {
      @extend .bg-primary;
      @extend .text-white;
      .nav-link {
        @extend .text-white;
      }
    }
  }
  .nav-link {
    @extend .px-3;
  }
  &.nav-sm {
    .nav-item {
      @extend .mx-2;
    }
    .nav-link {
      @extend .py-0;
      @extend .px-3;
    }
  }
  &.nav-xs {
    .nav-item {
      @extend .mx-1;
    }
    .nav-link {
      @extend .py-0;
      @extend .px-1;
    }
  }
}

/**
 * Tabs
 *
 * Tabular navigation
 *
 * @section
 * @page Nav
 *
 * @example
 * <ul class="nav nav-tabs">
 *   <li class="nav-item">
 *     <a class="nav-link active" href="#">Active</a>
 *   </li>
 *   <li class="nav-item">
 *     <a class="nav-link" href="#">Link</a>
 *   </li>
 *   <li class="nav-item">
 *     <a class="nav-link disabled" href="#">Disabled</a>
 *   </li>
 * </ul>
 */
.nav-tabs {
  @extend .d-flex;
  @extend .m-0;
  @extend .p-0;
  width: 100%;

  .nav-item {
    @extend .text-center;
    @extend .flex-fill;
    @extend .text-uppercase;

    @include media-breakpoint-down(sm) {
      font-size: 10px;
      &:first-child {
        margin-left: -0.5 * $spacer;
      }
      &:last-child {
        margin-right: -0.5 * $spacer;
      }
    }

    @include media-breakpoint-up(md) {
      font-size: 13px;
    }

    .nav-link {

      @extend .text-center;
      @extend .py-4;
      @extend .font-weight-bold;
      @extend .text-fog;
      border-right: none;
      border-bottom: none;
      border-left: none;

      @include media-breakpoint-down(sm) {
        padding-top: $spacer * 0.25;
        padding-bottom: $spacer * 0.25;
      }

      &:link,
      &:visited {
        @extend .text-fog;
      }
      &:hover {
        @extend .text-primary;
      }
      &:active {
        @extend .text-fog;
      }

      &.active {
        @extend .text-secondary;
        border-right: none;
        border-bottom: none;
        border-left: none;
        &:link,
        &:visited,
        &:hover,
        &:active {
          @extend .text-secondary;
        }
      }
    }
  }
}
