
/**
 * Full Example
 *
 * @section
 * @page Portfolio Sidebar
 *
 * @example
 * <div class="portfolio row">
 *   <aside class="col-8">
 *     <section class="card-total-holdings">
 *       <div class="card-body">
 *         <small class="card-title">Total Holdings</small>
 *         <h2>
 *           $680,050
 *           <small>As of Saturday, July 22nd, 2019</small>
 *         </h2>
 *       </div>
 *     </section>
 *     <section>
 *       <header>
 *         <h3>
 *           Action
 *           <small>Items</small>
 *         </h3>
 *       </header>
 *       <ul class="list-group-flush">
 *         <li>
 *           <span class="badge badge-sq badge-subtle-sky">
 *             <i class="fas fa-signature"></i>
 *           </span>
 *           <p>
 *             Your signature is required to complete your investment in Sumatra Coffee Roastery & Farm.
 *           </p>
 *         </li>
 *         <li>
 *           <span class="badge badge-sq badge-subtle-ocean">
 *             <i class="fas fa-money-bill-wave-alt"></i>
 *           </span>
 *           <p>
 *             Complete your deposit by September 31, 2019 to lock in your investment in Zero waste textile facility in Jakarta.
 *           </p>
 *         </li>
 *         <li>
 *           <span class="badge badge-sq badge-subtle-elephant">
 *             <i class="fas fa-file-alt"></i>
 *           </span>
 *           <p>
 *             Complete your deposit by September 31, 2019 to lock in your investment in Zero waste textile facility in Jakarta.
 *           </p>
 *         </li>
 *       </ul>
 *     </section>
 *     <section>
 *       <header>
 *         <h3>
 *           New
 *           <small>Offerings</small>
 *         </h3>
 *       </header>
 *       <ul class="list-unstyled">
 *         <li>
 *           <img src="/images/mining-portrait.jpg" style="width: 112px" />
 *           <div class="media-body">
 *           <p>Ethical cobolt mining in Camaroon</p>
 *           <small>Launching November, 2019</small>
 *         </li>
 *         <li>
 *           <img src="/images/fishing-portrait.jpg" />
 *           <div class="media-body">
 *           <p>Sustainable fishing in Nusa Tenggara Timur, Indonesia</p>
 *           <small>Launching February, 2020</small>
 *         </li>
 *       </ul>
 *   </aside>
 *   <main class="portfolio-list col-4">
 *     <article class="card">
 *       <div class="card-body" style="height: 50rem;">
 *         <header>
 *           <small class="symbol">BLS:ZWIB</small>
 *           <h3 class="card-title">Zero-emission Waste Incineration Facility in Bali</h3>
 *           <small class="status">Activated: January 1, 2019</small>
 *         </header>
 *       </div>
 *     </article>
 *   </main>
 * </div>
 */

/**
 * Holdings Card
 *
 * @section
 * @page Portfolio Sidebar
 *
 * @example
 * <div style="width: 20rem;">
 *   <section class="card card-total-holdings">
 *     <div class="card-body">
 *       <small class="card-title">Total Holdings</small>
 *       <h2>
 *         $680,050
 *         <small>As of Saturday, July 22nd, 2019</small>
 *       </h2>
 *     </div>
 *   </section>
 * </div>
 */
.card-total-holdings {
  @extend .card;
  @extend .bg-light;
  @extend .text-center;
  .card-title {
    display: block;
    @extend .text-uppercase;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: -0.11px;
  }

  h2 {
    @extend .font-weight-bold;
    @extend .text-midnight;
    @extend .mb-0;

    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.25px;
    @extend .text-midnight;

    small:last-child {
      display: block;
      @extend .text-uppercase;
      @extend .mt-1;
      @extend .mb-0;
      font-size: 10px;
      line-height: 10px;
      color: $slate;
    }
  }
}

/**
 * Actionable Alert
 *
 * @section
 * @page Portfolio Sidebar
 *
 * @example
 * <div class="portfolio" style="width: 20rem;">
 *   <div class="alert alert-info" role="alert">
 *     <span class="badge">$89,423</span>
 *     <h5 class="alert-heading">Ready for Withdrawl</h5>
 *     <p>You should withdrawl to your bank account or reinvest into another holding.</p>
 *     <button type="button" class="btn btn-lg btn-arrow-right btn-block">
 *       Withdraw Funds
 *     </button>
 *   </div>
 * </div>
 */
.portfolio {
  .alert-info {
    .badge {
      @extend .badge-warning;
      @extend .float-right;
      @extend .font-weight-bold;
      @extend .py-2;
      @extend .px-3;
      font-size: $font-size-base;
      line-height: $font-size-base * 1.25;
      color: $slate;
    }
    .alert-heading {
      @extend .mb-4;
      @extend .font-weight-normal;
      font-size: $font-size-base;
      line-height: $font-size-base * 1.25;
      @extend .py-2;
    }
    .btn {
      @extend .btn-info;
    }
  }
}

.portfolio {
  aside {

    section {
      @extend .mt-5;
      @extend .mb-5;

      &:first-child {
        @extend .mt-0;
      }

      /**
       * Section Heading
       *
       * @section
       * @page Portfolio Sidebar
       *
       * @example
       * <div class="portfolio">
       *   <aside>
       *     <section>
       *       <header>
       *         <h3>
       *           Action
       *           <small>Items</small>
       *         </h3>
       *       </header>
       *     </section>
       *   </aside>
       * </div>
       */
      header {
        @extend .border-bottom;
        margin-left: -0.5 * $spacer;
        margin-right: -0.5 * $spacer;
        padding-left: $spacer / 2;
        padding-right: $spacer / 2;
        h3 {
          @extend .text-midnight;
          font-size: $h3-font-size;
          font-weight: $font-weight-bold;
          small {
            font-size: $h3-font-size;
            font-weight: $font-weight-light;
          }
        }
      }

      /**
       * List Group Flush
       *
       * @section
       * @page Portfolio Sidebar
       *
       * @example
       * <div class="portfolio">
       *   <aside>
       *     <section>
       *       <header>
       *         <h3>
       *           Simple
       *           <small>Example</small>
       *         </h3>
       *       </header>
       *       <ul class="list-group-flush">
       *         <li>
       *           To get what you love, you must first be patient with what you hate.
       *         </li>
       *         <li>
       *           A man of bad character punishes his own soul.
       *         </li>
       *         <li>
       *           The real friend is the one who, when you ask him to follow you, doesn’t ask where?
       *         </li>
       *         <li>
       *           For good health control your diet.
       *         </li>
       *       </ul>
       *     </section>

       *     <section>
       *       <header>
       *         <h3>
       *           Badge
       *           <small>Example</small>
       *         </h3>
       *       </header>
       *       <ul class="list-group-flush">
       *         <li>
       *           <span class="badge badge-sq badge-subtle-sky">
       *             <i class="fas fa-signature"></i>
       *           </span>
       *           <p>
       *             Your signature is required to complete your investment in Sumatra Coffee Roastery & Farm.
       *           </p>
       *         </li>
       *         <li>
       *           <span class="badge badge-sq badge-subtle-mint">
       *             <i class="fas fa-money-bill-wave-alt"></i>
       *           </span>
       *           <p>
       *             Complete your deposit by September 31, 2019 to lock in your investment in Zero waste textile facility in Jakarta.
       *           </p>
       *         </li>
       *         <li>
       *           <span class="badge badge-sq badge-subtle-elephant">
       *             <i class="fas fa-file-alt"></i>
       *           </span>
       *           <p>
       *             Complete your deposit by September 31, 2019 to lock in your investment in Zero waste textile facility in Jakarta.
       *           </p>
       *         </li>
       *       </ul>
       *     </section>
       *   </aside>
       * </div>
       */
      .list-group-flush {
        @extend .list-group;
        @extend .mb-0;

        & > li {
          @extend .list-group-item;
          @extend .d-flex;
          @extend .pl-0;
          @extend .py-4;
          @extend .align-items-center;

          &:before {
            @extend .border-bottom;
            @extend .d-block;
          }
          // TODO: border bottom as pseudo element
          // <---- 40px       8px ---->
          // border: none;
          // background: linear-gradient($list-group-border-color, $list-group-border-color) bottom no-repeat;
          // // TODO: is there a width - 32px
          // background-size: 85% 1px;
          // background-position: left bottom;
          @extend .border-0;
          &:last-child {
            background: none;
            @extend .mb-0;
            @extend .pb-0;
          }
          .badge {
            @extend .mr-3;
          }
          p {
            @extend .text-muted;
            @extend .align-middle;
            @extend .mb-0;
            font-size: 11px;
            line-height: 14px;
          }
        }
      }

      /**
       * List Group Media
       *
       * @page Portfolio Sidebar
       * @section
       *
       * @example
       * <div class="portfolio">
       *   <aside style="width: 20rem;">
       *     <section>
       *       <ul class="list-unstyled">
       *         <li>
       *           <img src="/images/mining-portrait.jpg" />
       *           <div class="media-body">
       *           <p>Ethical cobolt mining in Camaroon</p>
       *           <small>Launching November 2019</small>
       *         </li>
       *         <li>
       *           <img src="/images/fishing-portrait.jpg" />
       *           <div class="media-body">
       *           <p>Tasty fishing in fancy Faroe Islands</p>
       *           <small>Launching November 2019</small>
       *         </li>
       *       </ul>
       *     </section>
       *   </aside>
       * </div>
       */
      ul.list-unstyled {
        & > li {
          @extend .media;
          @extend .pt-4;
          @extend .pb-4;
          img {
            @extend .w-40;
            @extend .mr-3;
            @extend .rounded-lg;
          }
          .media-body {
            p {
              @extend .mt-2;
              @extend .mb-2;
            }
            small {
              @extend .text-muted;
            }
          }
        }
      }
    }
  }
}
