<header>
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="#">
      <img src="/images/blossom-logo-horizontal-blue.svg" height="40" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navigation-items">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {{#if portfolio}}active{{/if}}">
          <a class="nav-link" href="/">Portfolio</span></a>
        </li>
        <li class="nav-item {{#if investments}}active{{/if}}">
          <a class="nav-link" href="/investments">Investments</a>
        </li>
        <li class="nav-item {{#if cash}}active{{/if}}">
          <a class="nav-link" href="#">Cash</a>
        </li>
        <li class="nav-item avatar">
          <a class="nav-link">
            <img src="/images/female-84.jpg" />
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
