{{#extend "layout"}}
  {{#content "main"}}
    <!-- .container -->
    <div class="page-investments">
      <!-- .row -->
      <header>
        <!-- .col -->
        <h1>Investments</h1>
        <!-- .col-md-8 -->
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item nav-link">
            <a class="nav-link active" href="#">Microfinance</a>
          </li>
          <li class="nav-item nav-link">
            <a class="nav-link" href="#">Other Category</a>
          </li>
          <li class="nav-item nav-link">
            <a class="nav-link" href="#">New</a>
          </li>
          <li class="nav-item nav-link">
            <a class="nav-link" href="#">Lorem</a>
          </li>
          <li class="nav-item nav-link">
            <a class="nav-link" href="#">Ipsum</a>
          </li>
        </ul>
      </header>
      <!-- .row -->
      <section class="campaign-list">
        <article class="campaign-list-item">
          <!-- .col-md-4 -->
          <img src="/assets/traditional-market-sellers.png" />
          <small>Microfinance</small>
          <h2>Traditional Market Sellers &amp; Micro-Businesses</h2>
          <p>Invest in traditional market traders in Indonesia's cultural heartland. </p>
          <a class="btn btn-cta-secondary">View Project Details</a>
        </article>
      </section>
    </div>
  {{/content}}
{{/extend}}
