{{#extend "layout"}}

  {{#content "bodyClass"}}bleed{{/content}}

  {{#content "extraScripts"}}
  <script>
  $(window).on('load', function() {
    console.log('Page loaded (campaign-detail).');
    var $tabs = $('#campaign-detail-tabs a');
    console.log($tabs);
    $tabs.on('click', function (e) {
      // e.preventDefault();
      $(this).tab('show');
    });
  });
  </script>
  {{/content}}

  {{#content "main"}}
  <article class="campaign-detail">
    <div class="container">
      <header class="jumbotron">
        <div class="row">
          <div class="col-8">
            <small>microfinance</small>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <h1>Traditional Market Sellers &amp; Micro-Businesses</h1>
          </div>
          <aside class="col-4">
            <p>
              Microfinance helps increase overall household income by supporting
              micro-entrepreneurship. The Issuer finances business owners to
              purchase inventory and capital equipment.
            </p>
          </aside>
        </div>
        <div class="row">
          <div class="col-8">
            <dl class="dl dl-horizontal">
              <dd>13%</dd>
                <dt>Gross AROI<sup>1</sup></dt>
              <dd>12 Months</dd>
                <dt>Maturity / Term</dt>
              <dd>Bali, Indonesia</dd>
                <dt>Project Location</dt>
              <dd>Indonesia</dd>
                <dt>Governing Law</dt>
            </dl>
          </div>
          <aside class="col-4">
            <a class="btn btn-primary btn-pill btn-arrow-right">Start Investment</a>
          </aside>
        </div>
      </header>
    </div>
    <img class="img-splash" src="/images/campaign-hero-ocean.png" />
    <div class="container">
      <div class="row">
        <div class="col">
          <ul id="campaign-detail-tabs" class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="financial-tab" data-toggle="tab" href="#financial" role="tab" aria-controls="financial" aria-selected="false">Financial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="project-tab" data-toggle="tab" href="#project" role="tab" aria-controls="project" aria-selected="false">Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="issuer-tab" data-toggle="tab" href="#issuer" role="tab" aria-controls="issuer" aria-selected="false">Issuer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="compliance-tab" data-toggle="tab" href="#compliance" role="tab" aria-controls="compliance" aria-selected="false">Compliance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="legal-tab" data-toggle="tab" href="#legal" role="tab" aria-controls="legal" aria-selected="false">Legal</a>
            </li>
          </ul>
        </div>
      </div>
      <main class="tab-content">
        <div class="tab-pane fade show active overview" id="overview" role="tabpanel" aria-labelledby="overview-tab">
          {{> campaign-detail/tab-overview}}
        </div>
        <div class="tab-pane fade financial" id="financial" role="tabpanel" aria-labelledby="financial-tab">
          {{> campaign-detail/tab-financial}}
        </div>
        <div class="tab-pane fade project" id="project" role="tabpanel" aria-labelledby="project-tab">
          {{> campaign-detail/tab-project}}
        </div>
        <div class="tab-pane fade issuer" id="issuer" role="tabpanel" aria-labelledby="issuer-tab">
          {{> campaign-detail/tab-issuer}}
        </div>
        <div class="tab-pane fade compliance" id="compliance" role="tabpanel" aria-labelledby="compliance-tab">
          {{> campaign-detail/tab-compliance}}
        </div>
        <div class="tab-pane fade legal" id="legal" role="tabpanel" aria-labelledby="legal-tab">
          {{> campaign-detail/tab-legal}}
        </div>
      </main>
    </div>
  </article>
  {{/content}}
{{/extend}}
