{{#extend "layout"}}
  {{#content "main"}}
<!-- .container -->
<div class="campaign-list container">
  <!-- .row -->

  <header class="row">

    <!-- h1 class="text-center">Investments</h1 -->
    <!-- .col-md-8 -->
    <!-- ul class="nav nav-pills nav-justified col-md-8">
      <li class="nav-item nav-link">
        <a class="nav-link active" href="#">Microfinance</a>
      </li>
      <li class="nav-item nav-link">
        <a class="nav-link" href="#">Other Category</a>
      </li>
      <li class="nav-item nav-link">
        <a class="nav-link" href="#">New</a>
      </li>
      <li class="nav-item nav-link">
        <a class="nav-link" href="#">Lorem</a>
      </li>
      <li class="nav-item nav-link">
        <a class="nav-link" href="#">Ipsum</a>
      </li>
    </ul -->
  </header>

  <main class="row">
    <article class="campaign">
      <div class="card rounded-bottom">
        <img class="card-img-top" src="/images/chinese-street-food.jpg" />
        <div class="card-body">
          <small class="card-text">Microfinance</small>
          <h2 class="card-title">Traditional Market Sellers &amp; Micro-Businesses</h2>
          <p class="card-text">Invest in traditional market traders in Indonesia's cultural heartland.</p>
          <a href="#" class="btn btn-link-arrow-right-secondary">View Project Details</a>
        </div>
      </div>
    </article>
    <article class="campaign">
      <div class="card rounded-bottom">
        <img class="card-img-top" src="/images/chinese-street-food.jpg" />
        <div class="card-body">
          <small class="card-text">Microfinance</small>
          <h2 class="card-title">Traditional Market Sellers &amp; Micro-Businesses</h2>
          <p class="card-text">Invest in traditional market traders in Indonesia's cultural heartland.</p>
          <a href="#" class="btn btn-link-arrow-right-secondary">View Project Details</a>
        </div>
      </div>
    </article>
    <article class="campaign">
      <div class="card rounded-bottom">
        <img class="card-img-top" src="/images/chinese-street-food.jpg" />
        <div class="card-body">
          <small class="card-text">Microfinance</small>
          <h2 class="card-title">Traditional Market Sellers &amp; Micro-Businesses</h2>
          <p class="card-text">Invest in traditional market traders in Indonesia's cultural heartland.</p>
          <a href="#" class="btn btn-link-arrow-right-secondary">View Project Details</a>
        </div>
      </div>
    </article>
    <article class="campaign">
      <div class="card rounded-bottom">
        <img class="card-img-top" src="/images/chinese-street-food.jpg" />
        <div class="card-body">
          <small class="card-text">Microfinance</small>
          <h2 class="card-title">Traditional Market Sellers &amp; Micro-Businesses</h2>
          <p class="card-text">Invest in traditional market traders in Indonesia's cultural heartland.</p>
          <a href="#" class="btn btn-link-arrow-right-secondary">View Project Details</a>
        </div>
      </div>
    </article>
  </main>
</div>
  {{/content}}
{{/extend}}
