{{#extend "layout"}}
  {{#content "main"}}
<div class="campaign-list container">
  <header>
    <h1>Investments</h1>
    <div class="row">
      <div class="col-12">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="/investments/bmt-bin-ummah-2-variable-profit-rate-sukuk">Microfinance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/investments/bmt-bin-ummah-2-variable-profit-rate-sukuk">Other Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/investments/bmt-bin-ummah-2-variable-profit-rate-sukuk">New</a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <main class="row">
    <article class="campaign-list-item">
      <div class="card rounded-bottom">
        <img class="card-img-top" src="/images/chinese-street-food.jpg" />
        <div class="card-body">
          <small class="card-text">Microfinance</small>
          <h2 class="card-title">Traditional Market Sellers &amp; Micro-Businesses</h2>
          <p class="card-text">Invest in traditional market traders in Indonesia's cultural heartland.</p>
          <a href="/investments/bmt-bin-ummah-2-variable-profit-rate-sukuk" class="btn btn-link-arrow-right-secondary">View Project Details</a>
        </div>
      </div>
    </article>
    <article class="campaign-list-item">
      <div class="card rounded-bottom">
        <img class="card-img-top" src="/images/chinese-street-food.jpg" />
        <div class="card-body">
          <small class="card-text">Microfinance</small>
          <h2 class="card-title">But I must explain to you how all this mistaken idea of denouncing </h2>
          <p class="card-text">Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example</p>
          <a href="/investments/bmt-bin-ummah-2-variable-profit-rate-sukuk" class="btn btn-link-arrow-right-secondary">View Project Details</a>
        </div>
      </div>
    </article>
    <article class="campaign-list-item">
      <div class="card rounded-bottom">
        <img class="card-img-top" src="/images/chinese-street-food.jpg" />
        <div class="card-body">
          <small class="card-text">Microfinance</small>
          <h2 class="card-title">On the other hand, we denounce with righteous indignation and dislike</h2>
          <p class="card-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis</p>
          <a href="/investments/bmt-bin-ummah-2-variable-profit-rate-sukuk" class="btn btn-link-arrow-right-secondary">View Project Details</a>
        </div>
      </div>
    </article>
    <article class="campaign-list-item">
      <div class="card rounded-bottom">
        <img class="card-img-top" src="/images/chinese-street-food.jpg" />
        <div class="card-body">
          <small class="card-text">Microfinance</small>
          <h2 class="card-title">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur</h2>
          <p class="card-text">In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business</p>
          <a href="/investments/bmt-bin-ummah-2-variable-profit-rate-sukuk" class="btn btn-link-arrow-right-secondary">View Project Details</a>
        </div>
      </div>
    </article>
  </main>
</div>
  {{/content}}
{{/extend}}
