{{#extend "layout"}}
  {{#content "main"}}
  <article class="campaign">
    <header class="container">
      <div class="row">
        <div class="col-8">
          <small>microfinance</small>
          <h1>Traditional Market Sellers &amp; Micro-Businesses</h1>
          <dl class="campaign-summary-list">
            <dt>13%</dt>
              <dd>Gross AROI<a class="footnote">1</a></dd>
            <dt>12 Months</dt>
              <dd>Maturity / Term</dd>
            <dt>Bali, Indonesia</dt>
              <dd>Project Location</dd>
            <dt>Indonesia</dt>
              <dd>Governing Law</dd>
          </dl>
        </div>
        <aside class="col-4">
          <p>
            Microfinance helps increase overall household income by supporting
            micro-entrepreneurship. The Issuer finances business owners to
            purchase inventory and capital equipment.
          </p>
          <a class="btn btn-primary btn-pill btn-arrow">Start Investment</a>
        </aside>
      </div>
    </header>
    <section class="splash-image">
      <img />
    </section>
    <div class="container">
      <ul class="nav nav-tabs">
        <a class="nav-link active" href="#">Overview</a>
        <a class="nav-link" href="#">Financial</a>
        <a class="nav-link" href="#">Project</a>
        <a class="nav-link" href="#">Issuer</a>
        <a class="nav-link" href="#">Compliance</a>
        <a class="nav-link" href="#">Legal</a>
      </nav>
      <div class="tab-content">
        <div class="tab overview">
          {{> campaign-detail-tab-overview}}
        </div>
        <div class="tab financial">
          {{> campaign-detail-tab-financial}}
        </div>
        <div class="tab project">
          {{> campaign-detail-tab-project}}
        </div>
        <div class="tab issuer">
          {{> campaign-detail-tab-issuer}}
        </div>
        <div class="tab compliance">
          {{> campaign-detail-tab-compliance}}
        </div>
        <div class="tab legal">
          {{> campaign-detail-tab-legal}}
        </div>
      </div>
    </div>
  </article>
  {{/content}}
{{/extend}}
