{{#extend "layout"}}
  {{#content "main"}}
    <aside class="investment-sidebar">
      <img class="img-splash" />
      <header>
        <small>Microfinance</small>
        <h1>
          Zero-emission Waste Incineration Facility in Bali
          <small>Harevests ocean plastic as fuel to safely dispose of biomedial waste.</small>
        </h1>
        <dl>
          <dd>
            8%
          </dd>
          <dt>
            <i class="icon icon-growth"></i>
            Gross AROI<a class="footnote">1</a>
          </dt>
          <dd>
            12 Months
          </dd>
          <dt>
            <i class="icon icon-calendar"></i>
            Maturity / Term
          </dt>
          <dd>
            Microfinance
          </dd>
          <dt>
            <i class="icon icon-industry"></i>
            Category / Industry
          </dt>
          <dd>
            Bali, Indonesia
          </dd>
          <dt>
            <i class="icon icon-globe"></i>
            Project Location
          </dt>
          <dd>
            Indonesia
          </dd>
          <dt>
            <i class="icon icon-jurisdiction"></i>
            Governing Law
          </dt>
          <dd>
            Restricted
          </dd>
          <dt>
            <i class="icon icon-trading"></i>
            Trading / Transfer
          </dt>
        </dl>
      </header>
    </aside>
    <article>
      <header class="row text-center">
        <div class="offset-4 col-4">
          <h2>New Investment</h2>
          <ol class="progress-indicator">
            <li class="step step-completed">1</li>
            <li class="step step-active">2</li>
            <li class="step">3</li>
          </ol>
          <h3>
            Select Payment Method
            <small>Decide how you will send and receive payments related to your investment.</small>
          </h3>
        </div>
      </header>
      <section class="row">
        <form class="offset-4 col-4">
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                GBP bank wire transfer
                <small>(most common option)</small>
              </label>
            </div>
            <div class="form-check active">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                ETH from ethereum wallet
                <small>(advanced)</small>
              </label>
            </div>
          </div>
          <h4 class="text-center">
            Link Ethereum Wallet
            <small> Enter the Ethereum address  you'll use to fund your investment. Remember that if you lose access to this wallet, you'll lose your money.</small>
          </h4>
          <div class="form-group">
            <label for="ethereum-wallet-select">Ethereum Wallet Address</label>
            <select
              type="text"
              id="ethereum-wallet-select"
              class="form-control form-control-lg">
            </select>
          </div>
          <p class="text-center text-muted">-- or -- </p>
          <div class="form-group">
            <label for="ethereum-wallet-address">Link New Ethereum Wallet Address</label>
            <input
              type="text"
              id="ethereum-wallet-address"
              class="form-control form-control-lg"
            />
          </div>
          <a class="btn btn-primary btn-pill">Link Wallet Address</a>
        </form>
      </section>
    </article>
  {{/content}}
{{/extend}}
