{{#extend "layout"}}
  {{#content "main"}}
<div class="portfolio container-fluid">
  <div class="row">
    <aside class="portfolio-sidebar col-3 bg-white pt-4">
      <section class="card-total-holdings">
        <div class="card-body">
          <small class="card-title">Total Holdings</small>
          <h2>
            $680,050
            <small>As of Saturday, July 22nd, 2019</small>
          </h2>
        </div>
      </section>
      <section>
        <div class="alert alert-info" role="alert">
          <span class="badge">$89,423</span>
          <h5 class="alert-heading">Ready for Withdrawl</h5>
          <p>You should withdrawl to your bank account or reinvest into another holding.</p>
          <button type="button" class="btn btn-info btn-lg btn-arrow-right btn-block">
            Withdraw Funds
          </button>
        </div>
      </section>
      <section>
        <header>
          <h3>
            Action
            <small>Items</small>
          </h3>
        </header>
        <ul class="list-group-flush">
          <li>
            <span class="badge badge-sq badge-subtle-sky">
              <i class="fas fa-signature"></i>
            </span>
            <p>
              Your signature is required to complete your investment in Sumatra Coffee Roastery &amp; Farm.
            </p>
          </li>
          <li>
            <span class="badge badge-sq badge-subtle-ocean">
              <i class="fas fa-money-bill-wave-alt"></i>
            </span>
            <p>
              Complete your deposit by September 31, 2019 to lock in your investment in Zero waste textile facility in Jakarta.
            </p>
          </li>
          <li>
            <span class="badge badge-sq badge-subtle-elephant">
              <i class="fas fa-file-alt"></i>
            </span>
            <p>
              Complete your deposit by September 31, 2019 to lock in your investment in Zero waste textile facility in Jakarta.
            </p>
          </li>
        </ul>
      </section>
      <section>
        <header>
          <h3>
            New
            <small>Offerings</small>
          </h3>
        </header>
        <ul class="list-unstyled">
          <li>
            <img src="/images/mining-portrait.jpg" style="width: 112px" />
            <div class="media-body">
            <p>Ethical cobolt mining in Camaroon</p>
            <small>Launching November, 2019</small>
          </li>
          <li>
            <img src="/images/fishing-portrait.jpg" />
            <div class="media-body">
            <p>Sustainable fishing in Nusa Tenggara Timur, Indonesia</p>
            <small>Launching February, 2020</small>
          </li>
        </ul>
    </aside>
    <main class="portfolio-list col-9 mt-4">
      <header class="d-flex justify-content-between w-100">
        <h1>Portfolio Holdings</h1>
        <ul class="list-inline small">
          <li>
            <span class="badge badge-primary"></span>
            Actual
          </li>
          <li>
            <span class="badge badge-light"></span>
            Target
          </li>
          <li>
            <span class="badge badge-secondary"></span>
            Projected Return
          </li>
        </ul>
      </header>
      <article class="card card-active card-expanded">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <header>
                <small class="symbol">BLS:ZWIB</small>
                <h2 class="card-title">Zero-emission Waste Incineration Facility in Bali</h2>
                <small class="status">Activated: January 1, 2019</small>
              </header>
              <div class="clearfix">
                <button class="btn btn-wrap-left">Invest More</button>
              </div>
              <nav>
                <a href="#">Sell/Trade</a>
                <a href="#">Offering Docs</a>
                <a href="#">Financials</a>
              </nav>
            </div>
            <div class="col-8">
              <section class="item-summary">
                <div class="amount-principal">
                  $100,000
                  <small>You Invested</small>
                </div>
                <div class="amount-profit">
                  + $4,000
                  <small>You've Earned</small>
                </div>
                <div class="percent-apr">
                  11.90%
                  <small>Projected Return<super>&dagger;</super></small>
                </div>
                <div class="amount-current-value">
                  <div>
                    $100,000
                    <small>Currently Worth</small>
                  </div>
                </div>
              </section>
              <img src="/images/performance-graph.png" class="img-fluid" />
            </div>
          </div>
          <aside class="item-info-feed">
            <h3>Your investment at work</h3>
            <div class="row">
              <article class="caption-image">
                <img src="/images/donuts.jpg" />
                <p>
                  Siti Fatimah Sweet Treats &amp; Baked Goods Street Cart
                </p>
              </article>
              <article class="caption-image">
                <img src="/images/chinese-street-food.jpg" />
                <p>
                  Making a difference and transforming a passion into a business
                </p>
              </article>
              <article class="quote">
                <blockquote class="quote">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <footer class="blockquote-footer">
                    <img src="/images/worker-with-cloth-headgear.png" />
                    <cite title="Source Title">Famega Sulianto</cite>
                  </footer>
                </blockquote>
              </article>
            </div>
          </aside>
        </div>
      </article>
      <article class="card card-funding card-collapsed">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <header>
                <small class="symbol">BLS:ZWIB</small>
                <h2 class="card-title">Zero-emission Waste Incineration Facility in Bali</h2>
                <small class="status">Activated: January 1, 2019</small>
              </header>
              <div class="clearfix">
                <button class="btn btn-wrap-left">Complete Investment</button>
              </div>
              <nav>
                <a href="#">Sell/Trade</a>
                <a href="#">Offering Docs</a>
                <a href="#">Financials</a>
              </nav>
            </div>
            <div class="col-8">
              <section class="item-summary">
                <div class="amount-principal">
                  $100,000
                  <small>You Invested</small>
                </div>
                <div class="amount-profit">
                  + $4,000
                  <small>You've Earned</small>
                </div>
                <div class="percent-apr">
                  11.90%
                  <small>Projected Return<super>&dagger;</super></small>
                </div>
                <div class="amount-current-value">
                  <div>
                    $100,000
                    <small>Currently Worth</small>
                  </div>
                </div>
              </section>
              <section class="item-details">
                <div class="alert alert-small alert-subtle-primary">
                  <h4 class="alert-heading">
                    Signature Required
                  </h4>
                  <p>
                    <a class="alert-link" href="#">Sign your investment paperwork</a>
                    before the investment activates.
                  </p>
                </div>
                <div class="alert alert-small alert-subtle-dark">
                  <h4 class="alert-heading">
                    Launching Soon!
                  </h4>
                  <p>
                    This investment will activate on January 1, 2020. Check back often for pre-launch news and updates.
                  </p>
                </div>
              </section>
            </div>
          </div>
        </div>
      </article>
      <article class="card card-matured card-collapsed">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <header>
                <small class="symbol">BLS:ZWIB</small>
                <h2 class="card-title">Zero-emission Waste Incineration Facility in Bali</h2>
                <small class="status">Activated: January 1, 2019</small>
              </header>
              <div class="clearfix">
                <button class="btn btn-wrap-left">Fully Matured</button>
              </div>
              <nav>
                <a href="#">Sell/Trade</a>
                <a href="#">Offering Docs</a>
                <a href="#">Financials</a>
              </nav>
            </div>
            <div class="col-8">
              <section class="item-summary">
                <div class="amount-principal">
                  $100,000
                  <small>You Invested</small>
                </div>
                <div class="amount-profit">
                  + $4,000
                  <small>You've Earned</small>
                </div>
                <div class="percent-apr">
                  11.90%
                  <small>Projected Return<super>&dagger;</super></small>
                </div>
                <div class="amount-current-value">
                  <div>
                    $100,000
                    <small>Currently Worth</small>
                  </div>
                </div>
              </section>
              <section class="item-details">
                <img src="/images/performance-graph.png" class="img-fluid" />
              </section>
            </div>
          </div>
        </div>
      </article>
    </main>
  </div>
</div>
  {{/content}}

{{/extend}}
