<h2>Project Details</h2>
<section class="row">
  <div class="col lead">
    <p>
      <em>Microfinance helps increase overall household income by supporting micro-entrepreneurship. The Issuer finances business owners to purchase inventory and capital equipment.</em>
    </p>
    <p>
      <em>This project provides additional capital to expand the availability of the Issuer's microfinance activities.</em>
    </p>
    <p>
      <a class="btn btn-pill btn-primary">Start Investment</a>
    </p>
  </div>
  <div class="col bg-dark">
    <div class="row">
      <dl class="col">
        <dd>BMT Bina Ummah</dd>
        <dt>
          <i class="icon icon-owner"></i>
          Issuer
        </dt>
        <dd>Microfinance</dd>
        <dt>
          <i class="icon icon-charity"></i>
          Category/Industry
        </dt>
        <dd>12 Months</dd>
        <dt>
          <i class="icon icon-calendar"></i>
          Maturity/Term
        </dt>
      </dl>
    </div>
    <dl class="col">
      <dd>Bali, Indonesia</dd>
      <dt>
        <i class="icon icon-globe"></i>
        Project Location
      </dt>
      <dd>5 Branches</dd>
      <dt>
        <i class="icon icon-locations"></i>
        Branches/Locations
      </dt>
      <dd>100 Staff</dd>
      <dt>
        <i class="icon icon-good-people"></i>
        Team Size
      </dt>
    </dl>
  </div>
</section>
<section class="row">
  <div class="col">
    <img class="img-fluid" />
  </div>
  <div class="col">
    <h3>
      Reducing Poverty by Increasing Income
      <small>90% of those financed become depositors</small>
    </h3>
    <p>
      Microfinance cooperatives provide critical financial services to the local community which are out of reach via conventional banks, such as savings and financing products.
    </p>
    <p>
      Financing activity within the local community helps grow and create businesses that generate livable incomes - and is strictly for productive economic activity, not consumptive loan purposes.
    </p>
  </div>
</section>
<section class="row">
  <div class="col">
    <h3>
      Convenient for Micro-Entrepreneurs
      <small>Agents visit beneficiaries daily at their business</small>
    </h3>
    <p>
      Typically, cooperative agents visit local businesses every day to facilitate savings deposits and payments without the need for the business owner to visit the branch office.
    </p>
  </div>
  <div class="col">
    <img class="img-fluid" />
  </div>
</section>
<section class="row">
  <div class="col">
    <h3>
      Bali, Indonesia
      <small>Agents visit beneficiaries daily at their business</small>
    </h3>
    <p>
      Central Java ("Jawa Tengah") is located on Indonesia's most populated island of Java and home to the city of Yogyakarta, often termed the "cultural capital" of Indonesian. Prior to indepdence and for a period of time following Indonesia's declaration of Independence, Yogyakarta served as Indonesia's capital city.
    </p>
    <p>
      Traditionally, Central Java has been rich with a vibrant agricultural sector due to the extremely fertile volcanic-ash infused soil - furnished by Central Java's 11 volcanos - along with plentiful rains and mountain streams for irrigation. This land has been farmed for centuries, and ever inch of arable land is carefully cultivated in complex terraces that snake accross the mountainsides.
    </p>
    <p>
      Along with the staple rice, corn, and soybean crops, Central Java also boasts plentiful fruit crops the top guava producing region in Indonesia and some unique, delicious tropical fruits that can only be found in these Volcanic mountains.
    </p>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <img class="img-drop-shadow" />
        <img class="img-drop-shadow" />
      </div>
      <div class="col">
        <img class="img-drop-shadow" />
      </div>
    </div>
    <a class="btn btn-primary btn-pill btn-arrow">View Map</a>
  </div>
</section>
