<h2 class="display-5">Investment Overview</h2>
<section class="row">
  <div class="col-8">
    <section class="row">
      <div class="offset-2 col-10">
        <p class="lead">
          Your investment will be used to fund hundreds of micro-entrepreneurs start or grow businesses.
        </p>
      </div>
    </section>
    <section class="row">
      <div class="col-10">
        <p>
          <em>
            The Issuer, PBMT Ventura, is a venture capital company that helps microfinance institutions raise funds. Your investment will be disbursed by the Issuer to multiple top-rated non-profit microfinance cooperatives.
          </em>
        </p>
        <h3>Who Should Invest</h3>
        <p>
          This project is ideal for investors seeking a lower-risk investment with a high-degree of diversification, since investors' funds will be spread across a portfolio of multiple institutions.
        </p>
        <h3>Use of Funds</h3>
        <p>
          Your investment will be onwardly invested by the Issuer into microfinance cooperatives selected by the Issuer using a profit-sharing (mudaraba) model.
        </p>
        <h3>Profit Model</h3>
        <p>
          Financed institutions will use the funds primarily for inventory and equipment purchases using a murabaha (cost-plus) model.
        </p>
        <h3>Legal Structure</h3>
        <p>
          Investors receive a profit-sharing note directly from PBMT Ventura. PBMT invests into microfinance cooperatives using a profit-sharing note.
        </p>
      </div>
    </section>
  </div>
  <aside class="col-4">
    <dl class="dl dl-grid dl-icon bg-dark pt-5 pb-6">
      <dd>8%</dd>
      <dt>
        <i class="icon icon-growth"></i>
        Gross AROI<a class="footnote">1</a>
      </dt>
      <dd>12 Months</dd>
      <dt>
        <i class="icon icon-calendar"></i>
        Maturity / Term
      </dt>
      <dd>Microfinance</dd>
      <dt>
        <i class="icon icon-microfinance"></i>
        Category/Industry
      </dt>
      <dd>Bali, Indonesia</dd>
      <dt>
        <i class="icon icon-globe"></i>
        Project/Location
      </dt>
      <dd>Indonesia</dd>
      <dt>
        <i class="icon icon-scales-of-justice"></i>
        Governing Law
      </dt>
      <dd>Restricted</dd>
      <dt>
        <i class="icon icon-trading-bars"></i>
        Trading/Transfer
      </dt>
    </dl>
    <img class="shadow img-fluid pull-up pull-left" src="/images/bali-seascape-temple-on-island.jpg" />
    <div class="mt-5">
      <button class="btn btn-block btn-pill btn-arrow-right btn-primary">Start Investment</button>
    </div>
  </aside>
</section>
